* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    top: 0;
    width: 100%;  
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    min-height: 70px;
}
.logo{
    vertical-align: middle;
    margin-right: 10px;
}
a{
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.hero{
    background-color: #b9cfe5;
    height: 72vh;
    width: 100%;
}
h1{
    font-size: 60px;
    padding: 70px 60px 50px 0px;
}
.content-hero{
    display: flex;
    position: relative;
}
.arrow{
    bottom: 85px;
    width: 40px;
    position: absolute;
}
.container-img-hero{
    width: 70%;
}
.container-img-hero > img{
    width: 700px;
}
.btn-hero{
    margin: 30px 0px;
}