body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --navbar-height: 5rem;
}
header{
    height: var(--navbar-height);
    width: 100%;  
    position: fixed;
    z-index: 999;
    background-color: white;
}
header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    height: 100%;
}
main{
    padding-top: var(--navbar-height);
}
.logo{
    vertical-align: middle;
    margin-right: 10px;
}
.item{
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.hero{
    background-color: #b9cfe5;
    height: 78vh;
    width: 100%;
}
h1{
    font-size: 60px;
    padding: 70px 60px 50px 0px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.content-hero{
    display: flex;
    position: relative;
}
.arrow{
    bottom: 95px;
    width: 40px;
    position: absolute;
}
.w-70 > img{
    width: 800px;
}
.btn-hero{
    margin: 30px 0px;
}
.people{
    text-align: center;
    border-bottom: solid 1px #d2d2d2;
}
.people > img{
    width: 15px;
    vertical-align: middle;
}
.card{
    border: solid 1px #d2d2d2;
    min-height: auto;  
}
li{
    margin: 20px 0px;
}
li::marker{
    background-image: url(../img/check-solid.svg);
}
.btn-partner{
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px 15px 10px 15px;
}
.img-col{
    height: 200px;
}
.utilizzatori{
    padding: 130px 0px;
}
h2{
    font-size: 35px;
}
.banner{
    min-height: auto;
    display: flex;
}
.container-content{
    overflow-y: auto;
    height: 500px;
}
.container-content{
    background-color: #d2d2d2;
}

.container-quadrati{
    position: relative;
   
}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoq{
    width: 50%;
    height: auto;
    
}
.w-20 > span{
    color:#d2d2d2;
    font-size: 12px;
    margin: 0px 8px 0px 8px;
}
.w-20 > img{
    vertical-align: middle;
}
.banner-celeste{
    background-color: #abcae2;
}
.w-55 > h2{
    color: brown;
}
.w-33 > button{
    border: none;
    padding: 7px 15px 7px 15px;
    background-color: white;
}
footer{
    background-color: black;
}
.lista > div > h4 {
    color: white;
    font-size: 20px;
}
.lista > div > p{
    font-size: 12px;
    color: white;
}
.border{
    border-bottom: solid 1px gray;
}

